---
n_depth_tlf_lookup:
  type: nats-request
  params:
    subject: lfx.projects-api.slug_to_uid
  steps:
    - raw: tlf
n_depth:
  # Create a tree of projects under the LF to represent a larger-than-normal
  # project depth for testing.
  type: http-request
  params:
    url: {{ environ.PROJECTS_URL | default("http://lfx-v2-project-service.lfx.svc.cluster.local:8080/projects") }}
    method: POST
    headers:
      Authorization: Bearer {{ environ.PROJECTS_TOKEN | default("-") }}
  steps:
    {% set project_name = generate_name(style='capital') %}
    - json:
        slug: depth_test_0
        name: {{ project_name + " Foundation" }}
        description: >-
          {{ project_name }}
          {{ lorem.get_sentence().lower() }}
          {{ lorem.get_sentence() }}
        public: true
        parent_uid: !ref "n_depth_tlf_lookup.steps[0]._response"
        legal_parent_uid: !ref "n_depth_tlf_lookup.steps[0]._response"
        stage: Active
    {% for depth in range(1, 15) %}
    {% set project_name = generate_name(style='capital') %}
    - json:
        slug: depth_test_{{ depth }}
        name: {{ project_name + " Project" }}
        description: >-
          {{ project_name }}
          {{ lorem.get_sentence().lower() }}
          {{ lorem.get_sentence() }}
        public: true
        parent_uid: !ref "n_depth.steps[?json.slug == 'depth_test_{{ depth - 1 }}']._response.uid | [0]"
        legal_parent_uid: !ref "n_depth_tlf_lookup.steps[0]._response"
        stage: Active
    {% endfor %}
